{% extends "base.html" %}
{% block title %}Flash cards{% endblock %}
{% block body %}
<header>
    <div class="container">
        <div class="nav">
            <h1>Flash Learn </h1>
            <div><button onclick="CreateCards()">New Cards</button>
                <button onclick="DeleteCards()">Delete Cards</button>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="create-box">
        <h2>Create Flashcard</h2>
        <label for="question">Question</label>
        <textarea id="question"></textarea>
        <br>
        <label for="answer">Answer </label>
        <textarea id="answer"></textarea>
        <br><br>
        <div>
            <button onclick="AddCard()">Save</button>
            <button onclick="hideCard()">Close</button>
        </div>
    </div>
</div>
<div class="flashcards"></div>
<script src="/static/script.js"></script>
{% endblock %}