{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block body %}
    <h2>Your Decks</h2>
        <table>
            <tr>
                <th>Deck Name</th>
                <th>Action</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td><a href="/review/{{row[0]}}">{{row[0]}}</a></td>
                <td>
                    <button><a href="/deletedeck/{{row[0]}}">Delete</a></button>
                    <button><a href="/updatedeck/{{row[0]}}">Update</a></button>
                    <button><a href="/addcard/{{row[0]}}">Add a Card</a></button>
                </td>
            </tr>
            {% endfor %}
        </table>
    <br>
    <button><a href="/createdeck">Add Deck</a></button>
{% endblock %}