{% extends "base.html" %}

{% block title %}
    Review
{% endblock%}

{% block body %} 
<div id="card">
    <h2>Your question</h2> 
    <h4>{{rows[2]}}</h4>
    <input type="button" value="Show Answer" onclick="show()">
    <h5 id="ans">{{rows[3]}}</h5>
</div>
<br><br>
<form action="/review/{{deckname}}" method="GET">
    <div class="Rating">
        <label for="">Select Difficulty: </label>
        <input type="radio" name="hardness" value="easy" required>
        <label for="">Easy</label>
        <input type="radio" name="hardness" value="medium">
        <label for="">Medium</label>
        <input type="radio" name="hardness" value="hard">
        <label for="">Hard</label>
    </div>
    <br>
    <input type="submit" value="Submit Response">
</form>
<br>
<a href="/addcard/{{deckname}}">Add Card</a>
<br>
<a href="/home">Go home</a>
<script>
    function show(){
        document.getElementById("ans").style.display="block"
    }
</script>
{% endblock%}