{% extends "base.html" %}
{% block title %} User Signup Page {% endblock%}
{% block body %} 
<h1>FlashCard App</h1>
<div class='form'>
<form action='/signup' method='POST'>  
<h3>Sign Up</h3>
<label>Create Username : </label>   
<input type="text" placeholder=" Enter Username" name="username" required minlength="5">  <br>
<label>Create Password : </label>   
<input type="password" placeholder=" Enter Password" name="password" required minlength="8">
<label>Retype Password : </label> 
<input type="password" placeholder=" Retype Password" name="pass" required minlength="8"><br>
<label>Verified details</label><input type="checkbox"><br>
<button type="submit">Signup</button><br><br>
<div class="redirect"><i class="italic">Return to User Login? Click <a href='/'>here</a> to login</i></div>
</form>   
</div>
{% endblock%}